body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, purple, blue);
    font-family: Arial, sans-serif;
}
.detail{
    margin: 150px 10px 10px 10px;
    text-align: center;
    display: flex;
    border: 1px whitesmoke;
    border-radius: 20px;
    /* background: linear-gradient(to right, rgb(111, 200, 235),rgb(127, 231, 127)); */
}
.detail img{
    height: auto;
    width: 30%;
    margin: 30px;
    border-radius: 30px;
}
.text p{
    font-size: 20px;
    margin: 20px;
    border: 1px solid white ;
    border-radius: 20px;
    padding: 10px;
}
.text{
    display: felx;
}
.cricle{
    margin-left: 20vw;
    width: 280px;
    background: linear-gradient(to right, blue,purple);
    border-radius: 20px;
    color: antiquewhite;   
}
