/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blur {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}
.blur::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;  
  right: 0;
  bottom: 0;
  background-image: url(../Image/lap\ top.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  transform: scale(1.05);
  z-index: 0;
}

body pre{
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 100%);
  color: #333;
  line-height: 1.6;
}

main {
  padding: 20px 0;
}

.container_1 {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.contact_1 {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.email,
.phone,
.address,
.working_hours{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact_1 h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #343537;
}

.contact_1 p {
  margin-bottom: 10px;
}

.contact_1 a {
  color: #007bff;
  text-decoration: none;
  color: #93c0bc;
}

