body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, purple, blue);
    font-family: Arial, sans-serif;
}
.table-container {
    width: 100%;
    margin: 20px 0;
    overflow-x: auto;
    margin-top: 150px;
    border-radius: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #f8f9fa;
}
table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}
table th {
    background-color: #5890cc;
    color: #ffffff;
}
table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}